<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE project>
<plugin>	    
   <extension
         id="de.uhd.ifi.se.decision.management.eclipse.changesupport.DecisionCompletionProposalComputer"
         name="DecisionCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="de.uhd.ifi.se.decision.management.eclipse.changesupport.DecisionCompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uhd.ifi.se.decision.management.eclipse.view.DecisionExplorationView"
            icon="icons/pluginIcon.png"
            id="de.uhd.ifi.se.decision.management.eclipse.view.DecisionExploration"
            name="KnowledgeExploration"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uhd.ifi.se.decision.management.eclipse.view.ChangeImpactAnalysisView"
            icon="icons/pluginIcon.png"
            id="de.uhd.ifi.se.decision.management.eclipse.view.ChangeImpactAnalysis"
            name="ChangeImpactAnalysis"
            restorable="true">
      </view>
   </extension>  
   <extension
         id="de.uhd.ifi.se.decision.management.eclipse.view.PreferencePage"
         point="org.eclipse.ui.preferencePages">
       <page id="de.uhd.ifi.se.decision.management.eclipse.view.PreferencePage"
	    class="de.uhd.ifi.se.decision.management.eclipse.view.PreferencePage"
            name="ConDec">
       </page>
   </extension>
      <extension
            id="de.uhd.ifi.se.decision.management.eclipse.PreferenceInitializer"
            name="PreferenceInitializer"
            point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uhd.ifi.se.decision.management.eclipse.PreferenceInitializer">
      </initializer>
   </extension> 
</plugin>
