<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE project>
<plugin>	    
   <extension
         id="de.uhd.ifi.se.decision.management.eclipse.event.DecisionCompletionProposalComputer"
         name="DecisionCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="de.uhd.ifi.se.decision.management.eclipse.event.DecisionCompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uhd.ifi.se.decision.management.eclipse.view.DecisionExplorationView"
            icon="icons/pluginIcon.png"
            id="de.uhd.ifi.se.decision.management.eclipse.view.DecisionExploration"
            name="KnowledgeExploration"
            restorable="true">
      </view>
      <view
            class="de.uhd.ifi.se.decision.management.eclipse.view.ChangeImpactAnalysisView"
            icon="icons/pluginIcon.png"
            id="de.uhd.ifi.se.decision.management.eclipse.view.ChangeImpactAnalysis"
            name="ChangeImpactAnalysis"
            restorable="true">
      </view>
   </extension>
   <extension
         id="de.uhd.ifi.se.decision.management.eclipse.view.PreferencePage"
         point="org.eclipse.ui.preferencePages">
       <page id="de.uhd.ifi.se.decision.management.eclipse.view.PreferencePage"
	    class="de.uhd.ifi.se.decision.management.eclipse.view.PreferencePage"
            name="ConDec">
       </page>
   </extension>
      <extension
            id="de.uhd.ifi.se.decision.management.persistence.ConfigPersistenceManager"
            name="ConfigPersistenceManager"
            point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uhd.ifi.se.decision.management.eclipse.persistence.ConfigPersistenceManager">
      </initializer>
   </extension>
      <extension
            point="org.eclipse.ui.propertyPages">
         <page
               class="de.uhd.ifi.se.decision.management.eclipse.view.PropertyPage"
               icon="icons/pluginIcon.png"
               id="de.uhd.ifi.se.decision.management.eclipse.view.PropertyPage"
               name="ConDec">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="de.uhd.ifi.se.decision.management.eclipse.event.ShowFullGraphCommand"
               id="de.uhd.ifi.se.decision.management.eclipse.command1"
               name="Show Full Graph">
         </command>
         <command
               defaultHandler="de.uhd.ifi.se.decision.management.eclipse.event.ShowClippedGraphCommand"
               id="de.uhd.ifi.se.decision.management.eclipse.command2"
               name="Show Clipped Graph">
         </command>
         <command
               defaultHandler="de.uhd.ifi.se.decision.management.eclipse.event.ShowGraphInJira"
               id="de.uhd.ifi.se.decision.management.eclipse.command2a"
               name="Show Graph in Jira">
         </command>
         <command
               defaultHandler="de.uhd.ifi.se.decision.management.eclipse.event.KnowledgeExtractionCommand"
               id="de.uhd.ifi.se.decision.management.eclipse.command3"
               name="Extract Knowledge">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               icon="icons/pluginIcon.png"
               label="ConDec">
		<visibleWhen>
		    <with variable="activeMenuSelection">
		        <iterate ifEmpty="false">
		            <adapt type="org.eclipse.core.resources.IResource">
		                <test property="org.eclipse.core.resources.name"
		                         value="*.java"/>
		            </adapt>
		        </iterate>
		    </with>
		</visibleWhen>
            <command
                  commandId="de.uhd.ifi.se.decision.management.eclipse.command1"
                  label="Show Full Graph"
                  style="push">
            </command>
            <command
                  commandId="de.uhd.ifi.se.decision.management.eclipse.command2"
                  label="Show Clipped Graph"
                  style="push">
            </command>
            <command
                  commandId="de.uhd.ifi.se.decision.management.eclipse.command2a"
                  label="Show Graph in Jira"
                  style="push">
            </command>
            <command
                  commandId="de.uhd.ifi.se.decision.management.eclipse.command3"
                  label="Extract Knowledge"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
    allPopups="false"
    locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
 <menu
       icon="icons/pluginIcon.png"
       label="ConDec">
    <visibleWhen>
       <with
             variable="activeMenuSelection">
          <iterate
                ifEmpty="false">
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <test
                      property="org.eclipse.core.resources.name"
                      value="*.java">
                </test>
             </adapt>
          </iterate>
       </with>
    </visibleWhen>
    <command
          commandId="de.uhd.ifi.se.decision.management.eclipse.command1"
          label="Show Full Graph"
          style="push">
    </command>
    <command
          commandId="de.uhd.ifi.se.decision.management.eclipse.command2"
          label="Show Clipped Graph"
          style="push">
    </command>
    <command
          commandId="de.uhd.ifi.se.decision.management.eclipse.command2a"
          label="Show Graph in Jira"
          style="push">
    </command>
    <command
          commandId="de.uhd.ifi.se.decision.management.eclipse.command3"
          label="Extract Knowledge"
          style="push">
    </command>
 </menu>
</menuContribution>
      </extension>
</plugin>
